[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
annotated-types = "*"
beautifulsoup4 = "*"
blis = "*"
catalogue = "*"
certifi = "*"
charset-normalizer = "*"
click = "*"
cloudpathlib = "*"
cloudpickle = "*"
confection = "*"
cymem = "*"
dask = "*"
deep-translator = "*"
fasttext = "*"
fsspec = "*"
idna = "*"
importlib-metadata = "*"
jinja2 = "*"
joblib = "*"
langcodes = "*"
locket = "*"
mako = "*"
markupsafe = "*"
murmurhash = "*"
nltk = "*"
numpy = "*"
packaging = "*"
pandas = "*"
partd = "*"
preshed = "*"
pybind11 = "*"
pydantic = "*"
pydantic-core = "*"
python-dateutil = "*"
python-dotenv = "*"
pytz = "*"
pyyaml = "*"
regex = "*"
requests = "*"
six = "*"
smart-open = "*"
soupsieve = "*"
spacy = "*"
spacy-legacy = "*"
spacy-loggers = "*"
sqlalchemy = "*"
srsly = "*"
thinc = "*"
toolz = "*"
tqdm = "*"
typer = "*"
typing-extensions = "*"
tzdata = "*"
urllib3 = "*"
wasabi = "*"
weasel = "*"
zipp = "*"

[dev-packages]

[requires]
python_version = "3.11"
